/*-------------------------------------global----------------------------------*/
* {
	box-sizing: border-box;
  outline: none;
}

body {
	font-size: 16px;
	font-family: 'open_sans';
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	background-color: #000000;
	overflow-x: hidden;
}
